<div class="table-scroll" role="region" tabindex="0" aria-label="Типові помилки">
  <table>
    <thead>
      <tr>
        <th scope="col">Неправильно</th>
        <th scope="col">Правильно</th>
        <th scope="col">Чому</th>
      </tr>
    </thead>
    <tbody>
      @for (mistake of mistakes(); track $index) {
        <tr>
          <td>
            <s class="wrong"
              ><span class="visually-hidden">Неправильно: </span>{{ mistake.wrong }}</s
            >
          </td>
          <td><app-rich-text [text]="mistake.right" /></td>
          <td class="why">{{ mistake.why }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
